<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-Time Sentiment Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Real-Time Sentiment Analysis</h1>
  <form action="/start-stream" method="post">
    <label for="keyword">Enter keyword for Twitter Stream:</label>
    <input type="text" id="keyword" name="keyword" required>
    <button type="submit">Start Streaming</button>
  </form>
  <br>
  <form action="/analyze-text" method="post">
    <label for="text">Enter text for sentiment analysis:</label>
    <textarea id="text" name="text" rows="4" cols="50" required></textarea>
    <button type="submit">Analyze Text</button>
  </form>
  <br>
  <form action="/analyze-url" method="post">
    <label for="url">Enter URL:</label>
    <input type="text" id="url" name="url" required>
    <button type="submit">Analyze URL Content</button>
  </form>
</body>

</html>